<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bbagisix.saving.mapper.SavingMapper">
    <select id="getSavingHistory" parameterType="long" resultType="org.bbagisix.challenge.domain.UserChallengeVO">
        select *
        from user_challenge
        where user_id = #{userId}
          and status = 'completed'
    </select>
    <select id="getTotalSaving" parameterType="long" resultType="long">
        select balance
        from user_asset
        where user_id = #{user_id}
          and status = 'sub'
    </select>
</mapper>