<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bbagisix.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="org.bbagisix.user.domain.UserVO" useGeneratedKeys="true" keyProperty="id">
        insert into user (
            name,
            nickname,
            email,
            password,
            point,
            email_verified
        ) values (
            #{name},
            #{nickname},
            #{email},
            #{password},
            #{point},
            true
        )
    </insert>

    <select id="selectUserByEmail" resultType="org.bbagisix.user.domain.UserVO">
        select * from user where email = #{email}
    </select>

    <select id="selectUserById" resultType="org.bbagisix.user.domain.UserVO">
        select * from user where user_id = #{Id}
    </select>

    <select id="countByEmail" resultType="int">
        select count(*) from user where email = #{email}
    </select>
</mapper>