<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bbagisix.asset.mapper.AssetMapper">


    <insert id="insertUserAsset" parameterType="org.bbagisix.asset.domain.AssetVO">
        INSERT INTO user_asset (
            user_id,
            asset_name,
            bank_name,
            bank_account,
            bank_id,
            bank_pw,
            connected_id,
            balance,
            created_at
        ) VALUES (
                     #{userId},
                     #{assetName},
                     #{bankName},
                     #{bankAccount},
                     #{bankId},
                     #{bankPw},
                     #{connectedId},
                     #{balance},
                     NOW()
                 )
    </insert>


    <select id="selectAssetByUserId" resultType="org.bbagisix.asset.domain.AssetVO">
        select
            asset_id as assetId,
            user_id as userId,
            asset_name as assetName,
            bank_name as bankName,
            bank_account as bankAccount,
            bank_id as bankId,
            bank_pw as bankPw,
            connected_id as connectedId,
            balance,
            created_at as createdAt
        from user_asset
        where user_id = #{userId}
    </select>

    <delete id="deleteUserAssetByUserId">
        delete from user_asset
        where user_id = #{userId}
    </delete>

    <!-- expense 쪽에 넣어야 할 것   -->

    <delete id="deleteExpensesByUserId">
        DELETE FROM expenditure
        WHERE asset_id IN (
            SELECT asset_id FROM user_asset WHERE user_id = #{userId}
        )
    </delete>
    <insert id="insertExpenses" parameterType="java.util.List">
        INSERT INTO expenditure (
        user_id,
        asset_id,
        category_id,
        amount,
        description,
        expenditure_date,
        created_at
        ) VALUES
        <foreach collection="list" item="expense" separator=",">
            (
            #{expense.userId},
            #{expense.assetId},
            #{expense.categoryId},
            #{expense.amount},
            #{expense.description},
            #{expense.expenditureDate},
            NOW()
            )
        </foreach>
    </insert>
</mapper>
