<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.bbagisix.expense.mapper.ExpenseMapper">
    <insert id="insert" parameterType="org.bbagisix.expense.domain.ExpenseVO" useGeneratedKeys="true"
            keyProperty="expenditureId">
        --          user_asset 테이블 구현 시 asset_id 추가해야함.
        INSERT INTO expenditure (user_id, category_id, amount, description, expenditure_date)
        VALUES (#{userId}, #{categoryId}, #{amount}, #{description}, #{expenditureDate})
    </insert>

    <select id="findById" parameterType="long" resultType="org.bbagisix.expense.domain.ExpenseVO">
        SELECT expenditure_id,
               user_id,
               category_id,
--                asset_id,
               amount,
               description,
               expenditure_date,
               created_at,
               updated_at
        FROM expenditure
        WHERE expenditure_id = #{expenditureId}
    </select>

    <select id="findAllByUserId" parameterType="long" resultType="org.bbagisix.expense.domain.ExpenseVO">
        SELECT expenditure_id,
               user_id,
               category_id,
--                asset_id,
               amount,
               description,
               expenditure_date,
               created_at,
               updated_at
        FROM expenditure
        WHERE user_id = #{userId}
        ORDER BY expenditure_date DESC
    </select>

    <update id="update" parameterType="org.bbagisix.expense.domain.ExpenseVO">
        UPDATE expenditure
        SET category_id      = #{categoryId},
            amount           = #{amount},
            description      = #{description},
            expenditure_date = #{expenditureDate}
        WHERE expenditure_id = #{expenditureId}
          AND user_id = #{userId}
    </update>

    <delete id="delete">
        DELETE
        FROM expenditure
        WHERE expenditure_id = #{param1}
          AND user_id = #{param2}
    </delete>

    <select id="getRecentExpenses" parameterType="long" resultType="org.bbagisix.expense.domain.ExpenseVO">
        SELECT *
        FROM expenditure
        WHERE user_id = #{userId}
          AND expenditure_date >= DATE_SUB(CURDATE(), INTERVAL 2 MONTH)
        ORDER BY expenditure_date DESC
    </select>

    <select id="getTodayExpenseCategories" parameterType="long" resultType="long">
        SELECT category_id
        FROM expenditure
        WHERE user_id = #{userId}
          AND DATE (expenditure_date)=CURDATE()
    </select>

    <select id="getSumOfPeriodExpenses" resultType="long">
        SELECT SUM(amount)
        FROM expenditure
        WHERE user_id = #{userId}
          AND category_id = #{categoryId}
          AND expenditure_date
            BETWEEN DATE_SUB(CURDATE() - INTERVAL 1 DAY, INTERVAL #{period} DAY)
            AND (CURDATE() - INTERVAL 1 DAY)
    </select>

    <insert id="insertExpenses" parameterType="java.util.List">
        INSERT INTO expenditure (
            user_id,
            asset_id,
            category_id,
            amount,
            description,
            expenditure_date,
            created_at
        ) VALUES
        <foreach collection="list" item="expense" separator=",">
            (
                #{expense.userId},
                #{expense.assetId},
                #{expense.categoryId},
                #{expense.amount},
                #{expense.description},
                #{expense.expenditureDate},
                NOW()
            )
        </foreach>
    </insert>
</mapper>